@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color: #f1f1f1;
}

.top-btn-list button:first-child {
    background: #f1f1f1;
    color: #0f0f0f;
}

.highlighted {
    background: rgba(255, 255, 255, 0.1);
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #0F0F0F;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}